.log-table-view {
  position: relative;
  max-width: 100%;
  max-height: 250px;
  overflow: auto;
  border: 1px solid #e5e5e5;
  table {
    border: 0;
    white-space: nowrap;
    font-family: monospace;
  }
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0,0,0,.5);
  }
}
